.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.confirm-box {
  background: #1a1d1f;
  color: #fff;
  padding: 25px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.confirm-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-ok {
  background-color: #5bc0de;
  color: #000;
}

.btn-cancel {
  background-color: #007b8f;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}
